@model EventVM
@{
	ViewData["Title"] = "Edit";
}

@section Css{ 
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="row">

	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 style="font-size:23px !important" class="card-title">Edit Event</h4>
				<h4 class="card-title" style="margin-top:40px">Current Event Image</h4>
				<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
				<img src="~/img/event/@Model.Event.ImagePath" width="450" alt="Alternate Text" />
				<form id="form" class="forms-sample" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<h4 style="margin-top:30px" class="card-title">Photo</h4>
						<input asp-for="Photo" class="form-control" accept="image/*">
						<span asp-validation-for="Photo" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Title</h4>
						<input asp-for="Title" value="@Model.Event.Title" style="width:100%" />
						<span asp-validation-for="Title" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Description</h4>
						<span asp-validation-for="Description" class="text-danger">Required</span>
						<textarea asp-for="Event.Description" class="ckeditor">@Model.Event.Description</textarea>

						<h4 style="margin-top:30px" class="card-title">Date</h4>
						<input asp-for="Date" value="@Model.Event.Date" style="width:100%" />
						<span asp-validation-for="Date" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Time</h4>
						<input asp-for="Time" value="@Model.Event.Time" style="width:100%" />
						<span asp-validation-for="Time" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Venue</h4>
						<input asp-for="Venue" value="@Model.Event.Venue" style="width:100%" />
						<span asp-validation-for="Venue" class="text-danger"></span>

						<div class="mt-3">
							<label style="font-size:15px;font-weight:bold">Select Speaker: </label>
							<select class="js-example-basic-multiple" id="selectSpeaker" name="states" multiple="multiple" style="width:100%">
								@foreach (Speaker speaker in Model.Speakers)
								{
									if (Model.EventSpeakers.FirstOrDefault(e => e.SpeakerId == speaker.Id) != null)
									{
										<option selected value="@speaker.Id">@speaker.Fullname</option>

									}
									else
									{
										<option value="@speaker.Id">@speaker.Fullname</option>

									}
								}
							</select>
						</div>
					</div>
					<button style="margin-top:20px" type="submit" class="btn btn-primary mr-2">Update</button>
					<a style="margin-top:20px" asp-action="Index" class="btn btn-light">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
	<script>
		ClassicEditor
			.create(document.querySelector('.ckeditor'))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>
		$("#form").submit(function (e) {
			if ($(".ckeditor").val().trim() == "" || $("#selectSpeaker").val().length == 0) {
				e.preventDefault();
			}
		})
	</script>
	<script>
		$(document).ready(function () {
			$('.js-example-basic-multiple').select2();
		});
	</script>
	@*<script>
			$(".speaker").keyup(function () {
				let search = $(this).val();
				let _this = $(this);
				$(this).next(".searchUL").find("li").remove();
				if (search.length > 0 && search.trim() != "") {
					$.ajax({
						url: "/AdminEduHome/Event/SearchSpeaker?search=" + search,
						type: "Get",
						success: function (res) {
							_this.next(".searchUL").append(res);
							$(".speakerP").click(function () {
								_this.val($(this).text())
							})
						}
					})
				}
			})

		</script>*@
}

