@using BackEndProject.Helpers
@model CourseVM
@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Course List</h4>
				@if (User.IsInRole(Helper.Roles.Admin.ToString()))
				{
					<a asp-action="Create" class="btn btn-success">Create Course</a>
				}
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									Image
								</th>
								<th>
									Course Name
								</th>
								<th>
									Settings
								</th>
							</tr>
						</thead>
						<tbody>
							@if (User.IsInRole(Helper.Roles.Admin.ToString()))
							{
								@foreach (Course course in Model.Courses)
								{
									<tr>
										<td>
											<img src="~/img/course/@course.ImagePath" style="width:200px !important;height:100px !important;border-radius:unset !important" alt="image" />
										</td>
										<td>
											<p>
												<strong>@course.Name</strong>
											</p>
										</td>
										<td>
											<a asp-action="Detail" asp-route-id="@course.Id" class="btn btn-success">
												<i class="mdi mdi-account-card-details"></i>
											</a>
											<a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-primary">
												<i class="mdi mdi-table-edit"></i>
											</a>
											<a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">
												<i class="mdi mdi-delete-forever"></i>
											</a>
										</td>
									</tr>
								}
							}
							else if (User.IsInRole(Helper.Roles.CourseOwner.ToString()))
							{
								foreach (Course ownerCourse in Model.OwnerCourses)
								{
									<tr>
										<td>
											<img src="~/img/course/@ownerCourse.ImagePath" style="width:200px !important;height:100px !important;border-radius:unset !important" alt="image" />
										</td>
										<td>
											<p>
												<strong>@ownerCourse.Name</strong>
											</p>
										</td>
										<td>
											<a asp-action="Detail" asp-route-id="@ownerCourse.Id" class="btn btn-success">
												<i class="mdi mdi-account-card-details"></i>
											</a>
											<a asp-action="Edit" asp-route-id="@ownerCourse.Id" class="btn btn-primary">
												<i class="mdi mdi-table-edit"></i>
											</a>
										</td>
									</tr>
								}
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>