@model IEnumerable<Blog>
<div id="viewBlogs">
	@foreach (Blog blog in Model)
	{
		<div class="allBlog col-md-6 col-sm-6 col-xs-12">
			<div class="single-blog mb-60">
				<div class="blog-img">
					<a asp-action="Detail" asp-route-id="@blog.Id"><img src="~/img/blog/@blog.ImagePath" alt="blog"></a>
					<div class="blog-hover">
						<i class="fa fa-link"></i>
					</div>
				</div>
				<div class="blog-content">
					<div class="blog-top">
						<p>By @blog.AppUser.UserName  /  @blog.Date  /  <i class="fa fa-comments-o"></i> @blog.CommentCount</p>
					</div>
					<div class="blog-bottom">
						<h2><a asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h2>
						<a asp-action="Detail" asp-route-id="@blog.Id">read more</a>
					</div>
				</div>
			</div>
		</div>
	}

</div>
@*@if (ViewBag.BlogCount > 6)
	{
		<div>
			<button style="position:relative; top:35%;left:37.8%" class="viewMore btn btn-info">View more result for "@ViewBag.SearchText"</button>
		</div>
		<input style="display:none" id="searchBlogCount" value="@ViewBag.BlogCount" />
	}*@

@*<div class="allPagination col-md-12">
			<div class="pagination">
				<ul>
					@for (int i = 1; i <= ViewBag.PageCount; i++)
					{
						if (i == ViewBag.Page)
						{
							<li style="pointer-events:none;"><a style="background-color:#e6e6e6" href="/Blog/SearchBtn?page=@i">@i</a></li>
						}
						else
						{
							<li><a href="/Blog/SearchBtn?page=@i&search=@ViewBag.SearchText">@i</a></li>
						}
					}

				</ul>
			</div>
	</div>*@