@model EventVM
@{
	ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
	<div class="banner-area text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="banner-content-wrapper">
						<div class="banner-content">
							<h2>event / details</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="event-details">
					<div class="event-details-img">
						<img src="~/img/event/@Model.Event.ImagePath" alt="event-details">
						<div class="event-date">
							<h3>@Model.Event.Date</h3>
						</div>
					</div>
					<div class="event-details-content">
						<h2>@Model.Event.Title</h2>
						<ul>
							<li><span>time : </span>@Model.Event.Time</li>
							<li><span>venue : </span>@Model.Event.Venue</li>
						</ul>
						<p>@Model.Event.Description</p>
						<div class="speakers-area fix">
							<h4>speakers</h4>
							@foreach (EventSpeaker eventSpeaker in Model.EventSpeakers)
							{
								<div class="single-speaker">
									<div class="speaker-img">
										<img src="~/img/event/@eventSpeaker.Speaker.ImagePath" alt="speaker">
									</div>
									<div class="speaker-name">
										<h5>@eventSpeaker.Speaker.Fullname</h5>
										<p>@eventSpeaker.Speaker.Profession</p>
									</div>
								</div>
							}
						</div>
					</div>
					<div class="col-md-7 col-sm-7 col-xs-12">
						<div class="reply-area">
							<h3>LEAVE A message</h3>
							<p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
							<form id="form" method="post">
								<div class="row">
									<div class="col-md-12">
										<p>Name</p>
										<input asp-for="Name" id="name" />
									</div>
									<div class="col-md-12">
										<p>Email</p>
										<input asp-for="Email" class="emailInput" id="email" />
										<span asp-validation-for="Email" id="emailError" class="text text-danger" style="position: relative;
    bottom: 15px;"></span>
									</div>
									<div class="col-md-12">
										<p>Subject</p>
										<input asp-for="Subject" id="subject" />
										<p>Massage</p>
										<textarea asp-for="Message" class="messageInput" id="message" cols="15" rows="10"></textarea>
										<span asp-validation-for="Message" style="position: relative;
    bottom: 40px;" id="messageError" class="text text-danger"></span>
									</div>
								</div>
								<button type="submit" id="replyBtn" class="btn btn-success">Send Message</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog-sidebar right">
					<div class="single-blog-widget mb-50">
						<h3>search</h3>
						<div class="blog-search">
							<form id="search">
								<input id="searchTextEventv2" type="search" placeholder="Search..." name="search" />
								<ul id="searchULv2">
								</ul>
							</form>
						</div>
					</div>
					<div class="single-blog-widget mb-50">
						<h3>categories</h3>
						<ul>
							<li><a href="#">CSS Engineering (10)</a></li>
							<li><a href="#">Political Science (12)</a></li>
							<li><a href="#">Micro Biology (08)</a></li>
							<li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
							<li><a href="#">Web Design (20)</a></li>
							<li><a href="#">PHP (23)</a></li>
						</ul>
					</div>
					<div class="single-blog-widget mb-50">
						<div class="single-blog-banner">
							<a asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.BestTheme.Id" id="blog"><img src="~/img/blog/@Model.BestTheme.ImagePath" alt="blog"></a>
							<h2>best<br> eductaion<br> theme</h2>
						</div>
					</div>
					<div class="single-blog-widget mb-50">
						<h3>latest post</h3>
						@foreach (var post in Model.LatestPosts)
						{
							<div class="single-post mb-30">
								<div class="single-post-img">
									<a asp-controller="Blog" asp-action="Detail" asp-route-id="@post.Id">
										<img style="height:70px !important;width:100px !important;" src="~/img/blog/@post.ImagePath" alt="post">
										<div class="blog-hover">
											<i class="fa fa-link"></i>
										</div>
									</a>
								</div>
								<div class="single-post-content">
									<h4><a asp-controller="Blog" asp-action="Detail" asp-route-id="@post.Id">@post.Title</a></h4>
									<p>By @post.AppUser.UserName  /  @post.Date</p>
								</div>
							</div>
						}
					</div>
					<div class="single-blog-widget">
						<h3>tags</h3>
						<div class="single-tag">
							<a href="blog-details.html" class="mr-10 mb-10">course</a>
							<a href="blog-details.html" class="mr-10 mb-10">education</a>
							<a href="blog-details.html" class="mb-10">teachers</a>
							<a href="blog-details.html" class="mr-10">learning</a>
							<a href="blog-details.html" class="mr-10">university</a>
							<a href="blog-details.html">events</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Event Details End -->
@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		$("#form").submit(function (e) {
			let error = $("#emailError").text();
			let text = $(".emailInput").val();
			let messageError = $("#messageError").text();
			let messageText = $(".messageInput").val();
			if (text != "" && error == "" && messageText != "" && messageError == "") {
				e.preventDefault();
				swal({
					title: "Thanks for your reply",
					text: "We will respond as soon as possible",
					icon: "success",
					button: "Ok",
				}).then(function () {
					setTimeout(() => { document.querySelector("#form").submit() }, 100)
				})
			}

		})
	</script>
}